.comment {
  border: 1px solid grey;
  border-radius: 7px;

  margin: 10px;
}
.comment p { 
  padding: 5px;
}

.comment > * {
  min-height: 5px;
  width: 100%;
}

/* Top bar / header of comment */
.comment-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 12px;
  font-weight: bold;
}

.name-prefix {
  color: rgba(255, 255, 255, 0.617);
  font-weight: normal;
  margin-right: 1px;
  font-size: 11px;
}

/* Comment */
.comment-content {
  padding: 5px;
}

blockquote {
  border-left: 3px solid grey;
  padding-left: 3px;
}

/* Comment details (reply count, etc) */
.comment-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;

  font-size: 13px;
}


/* Close comment left bar */
.comment-chain {
  position:relative;
}

.comment-chain-close {
  position:absolute;
  cursor: pointer;
  z-index: 1;

  width: 5px;

  padding: 0 7px;
}

.comment-chain-close > div {
  background: rgb(62, 61, 61);
  transition: background-color 0.2s;

  width: 1px;
  height: 100%;
  margin: 0 auto;
}

.comment-chain-close:hover > div {
  background: rgb(88, 87, 87);
}
