.comment {
  /* border: 1px solid rgba(128, 128, 128, 0.22); */
  border-radius: 7px;

  margin: 6px 10px;

  color: rgb(228, 227, 227);
  overflow: hidden;
}
.comment-see-more {
  position: relative;
  font-size: 12px;
}
.comment p { 
  padding: 5px;
  font-weight: 300;
}
.comment > * {
  min-height: 5px;
  width: 100%;
}

/* Top bar / header of comment */
.comment-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 12px;
  font-weight: bold;
}
.op {
  background:rgba(112, 112, 188, 0.054);
  border-radius: 7px;
}
.comment-author {
  font-weight: 400;
}
.comment-details {
  font-size: 11px;
  font-weight: 100;
  font-style: italic;
  position: relative;
  top:1px;
}
.comment-bar > div:first-child {
  display: flex;
  align-items: center;
}
.user-avatar {
  height: auto;
  width: 25px;
  border-radius: 50%;
  margin-right: 2px;
  margin-left: 2px
}
.user-avatar.snoovatar {
  border-radius: 0;
}
.name-prefix {
  color: rgba(255, 255, 255, 0.617);
  font-weight: normal;
  margin-right: 1px;
  font-size: 0.85em;
}
.spec {
  color: rgb(21, 179, 21);
  font-size: 11px;
  position: relative;
  left: 6px
}
.spec.op {
  font-size: 12px;
  color: rgb(96, 170, 194);
  margin-right:3px;
}

/* Comment */
.comment-content {
  padding: 5px;
  overflow: hidden;
  margin-left: 14px;

  max-height:fit-content;
}
blockquote {
  border-left: 3px solid grey;
  padding-left: 6px;
  margin-left: 20px;
}

/* Comment details (reply count, etc) */
.comment-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 1px solid rgba(128, 128, 128, 0.323); */

  font-size: 13px;
}

/* Close comment left bar */
.comment-chain {
  position:relative;
}
.comment-chain-close {
  position:absolute;
  cursor: pointer;
  z-index: 1;

  width: 5px;

  padding: 0 7px;
}
.comment-chain-close > div {
  background: rgb(62, 61, 61);
  transition: background-color 0.1s;

  width: 1px;
  height: 100%;
  margin: 0 auto;
}
.comment-chain-close:hover > div {
  background: rgb(112, 111, 111);
  width: 2px;
}

/* extra styling */
.mod-comment {
  box-shadow: -30px 30px 70px -90px rgb(53, 186, 53) inset;
}

.icon {
  margin-left: 15px;
  color: grey;
  font-size: 14px;
  cursor: pointer;

  transition: color 0.2s;
}

.icon:hover {
  color: white;
}