.comment {
  border: 1px solid grey;
  border-radius: 7px;

  margin: 10px;
  padding: 5px;
}

blockquote {
  border-left: 3px solid grey;
  padding-left: 3px;
}

.comment-chain {
  position:relative;
}

.comment-chain-close {
  position:absolute;
  cursor: pointer;

  width: 5px;
  z-index: 1;

  padding: 0 7px;
}
.comment-chain-close > div {
  background: rgb(62, 61, 61);
  transition: background-color 0.2s;

  width: 1px;
  margin: 0 auto;
  
  height: 100%;
}

.comment-chain-close:hover > div {
  background: rgb(88, 87, 87);

}
