#feed {
  margin: 0 auto;
  /* box-sizing: content-box; */
  padding: 70px 30px;

  min-width: 500px;
  max-width: 670px;
  min-height: 100%;


  color: white;
}
@media only screen and (max-width: 670px) {
  #feed{ 
    min-width: 0;
    max-width: 100%;
    padding: 70px 0;
  }
}

/* Sort post (option) */
.feed-customize {
  overflow: hidden;
  
  margin-bottom: 40px;
  border-radius: 10px;

  width: 100%;
}

.query-buttons, .feed-buttons {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feed-buttons {
  height:20px;
  width: 100%;
}

.sort, .feed { /* sort button */
  width: calc(100% / 5);
  color: white;
  background-color: rgba(45, 44, 44, 0.564);
  border: 1px solid rgba(94, 94, 94, 0.331);
}

.feed {
  width: calc(100%/3);
}

.sort:hover, .feed:hover {
  background-color: rgba(69, 68, 68, 0.564);
  color: rgb(214, 209, 209)
}

.sort.active, .feed.active {
  background-color: rgba(69, 68, 68, 0.564);
}

.query-buttons .disabled {
  opacity: 0.6;
  pointer-events: none;
}

.sort, .feed {
  cursor: pointer;
}
.sort.active, .feed.active {
  cursor: default !important;
}

.open-subreddits {
  color: rgb(199, 202, 255);
  cursor: pointer;
}

.open-subreddits:hover {
  text-decoration: underline;
}

.post:nth-last-child(2) {
  margin-bottom: 100px;
}

