#feed {
  background: rgba(0, 0, 0, 0.926);
  color: white;
  border: 1px solid rgb(105, 229, 43);
  overflow-y: auto;
  height: 100%;
}

/* Sort post (option) */
.query-buttons, .feed-buttons {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.feed-buttons {
  height:20px;
  width: 100%;
}

.sort, .feed { /* sort button */
  width: calc(100% / 5);
  color: white;
  background-color: rgba(45, 44, 44, 0.564);
  border: 1px solid rgba(94, 94, 94, 0.331);
}

.feed {
  width: calc(100%/3);
}

.sort:hover, .feed:hover {
  background-color: rgba(69, 68, 68, 0.564);
  color: rgb(214, 209, 209)
}

.sort.active, .feed.active {
  background-color: rgba(69, 68, 68, 0.564);
}

.query-buttons .disabled {
  opacity: 0.6;
  pointer-events: none;
}

.open-subreddits {
  color: rgb(199, 202, 255);
  cursor: pointer;
}

.open-subreddits:hover {
  text-decoration: underline;
}