.open-post {
  width: fit-content;
  margin: 0 auto;

  max-width: 100%;
  width: 670px;

  max-height: calc(100vh - 7rem);
  overflow-y: auto;
}

.open-post .post {
  margin: 0 !important;
  border: none;
}


.open-post .post-body.text {
  max-height: fit-content;
  box-shadow: none;
}

.comment-wrapper {
  margin-top: 10px;
  overflow: hidden;
}

.comment-wrapper > div:last-child {
  margin-bottom: 10px;
}

.skeleton { 
  text-align: center;
}