.post {
  white-space: 'pre-wrap';
  overflow-wrap: 'break-word';
  overflow: hidden;

  border: 1px solid rgb(234, 22, 22);
  border-radius: 10px;
  
  width: 97%;
  min-width: 500px;
  max-width: 670px;
  /* max-height: 800px; */
  /* min-height: 100px; */
  
  margin: 12px auto;
}

.post:first-child {
  margin-top: 70px;
}

.post h3, p {
  padding: 6px;
}

/* Info */
.post article {
  display: flex;
}

.sub-link {
  color: inherit;
  text-decoration: none;
}
.sub-link:hover {
  text-decoration: underline;
}

/* Title */
.post-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.651);
}


/* Body */
.post-body {
  border-bottom: 1px solid rgb(234, 22, 22);
}

.post-body.text {
  box-shadow: inset 0px -30px 20px -12px rgba(117, 117, 117, 0.485);
  max-height: 140px;
  overflow: hidden;
}

.post-body.video {
  /* max-height: 350px; */
}
.post-body.video video,
.post-body.image img {
  width: 100%;
  height: auto;
}


/* Info / Actions */
.info {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .post{ 
    min-width: 0;
    max-width: 100%;
  }
}
