.post {
  white-space: 'pre-wrap';
  overflow-wrap: 'break-word';
  overflow: hidden;

  border: 1px solid rgb(234, 22, 22);

  width: 500px;
  min-width: 300px;
  max-height: 280px;
  min-height: 100px;
  
  padding: 6px;
  border-radius: 10px;


  margin: 12px auto;

}

.post:first-child {
  margin-top: 70px;
}