.votes {
  display: flex;
  align-items: center;
  font-weight: 300;

  position:relative;
  overflow:visible;
}

.votes p {
  font-size: 1rem;
}

.arrow-wrapper {
  position: relative;
  width:100px;
}

.votes-arrow {
  font-size:16px;

  cursor:no-drop
}
.votes-arrow:hover {
  color: rgb(195, 195, 195);
}

.votes-novote {
  position: absolute;
  overflow:hidden;
  background: rgba(120, 120, 120);
  z-index: 2;
  opacity: 0;
  white-space: nowrap;

  border: 1px solid rgba(55, 55, 55, 0.969);
  border-radius: 6px;

  width: 0px;
  bottom: 25px;

  transition: width 0.3s, opacity 0.3s;
}