#page {
  height: 100vh;
  overflow: hidden;
}

#splitfeed {
  padding: 0;
  margin: 0;
  height: calc(100vh - 3.7rem);
  border: 1px solid green;
  overflow:hidden;
}

#splitfeed {
  display: flex;
  flex-direction: row;
}

#splitfeed > :first-child {
  border: 2px solid red;
  
  flex-basis: 310px;
  flex-shrink: 0;
  flex-grow: 1;

  max-width: 500px;
}

#splitfeed > :last-child {
  border: 2px solid yellow;
  flex-grow: 6
}

/* Responsive */

@media only screen and (max-width: 900px) {

  #splitfeed > :first-child {
    min-width: 0;
    animation-duration: 0.1s;
    animation-name: closeleft;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border: none;
  }
}

@media only screen and (min-width: 901px) {

  #splitfeed > :first-child {
    animation-duration: 0.04s;
    animation-name: openleft;
    animation-iteration-count: 1;
  }
}

/* Animations */

 @keyframes closeleft {
  from {
    flex-basis: 310px;
    opacity: 1;
  }
  to {
    flex-basis: 0;
    opacity: 0;
    max-width: 0;
  }
 }

 @keyframes openleft {
  from {
    max-width: 0;
    opacity: 0;
  }
  to {
    max-width: 310px;
    opacity: 1;
  }
 }