#page {
  height: 100vh;
  overflow: hidden;
}

#splitfeed {
  padding: 0;
  margin: 0;
  height: calc(100vh - 3.7rem);
  border: 1px solid green;
  overflow:hidden;
}

#splitfeed {
  display: flex;
  flex-direction: row;
}


/* #splitfeed > *:first-child {
  width: 70vw;
  float: right;
}

#splitfeed > *:last-child {
  max-width: 1px;
}
 */
