#navbar {
  border-bottom:1px solid rgba(255, 255, 255, 0.229);
  background: rgb(35, 35, 35);
  color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.5rem;
}

#navbar div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

#navbar > div > * {
  margin: 0 5px;
}

#navbar:first-child,
#navbar:last-child {
  padding: 0 2rem;
}

#navbar > div > input {
  max-width: 55px;
  font-size: 10px;;
}

@media only screen and (min-width: 901px) {
  #left {
    display:none !important;
  }
}