.subs-results-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;

  position: absolute;
  z-index: 11;
  top: calc(3.5rem - 9px);
  right: 0;

  background: rgba(33, 33, 33, 0.994);

  overflow: hidden;
  overflow-y: auto;

  width: 400px;
  max-width: calc(100vw - 23px);
  height: 80vh;

  border: 1px solid rgb(65, 65, 65);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;

  transition: background-color 0.2s, height 0.2s, border-color 0.2s, top 0.2s;
}

/* Search bar */
.search-bar {
  width: 85%;
  margin: 0 auto;
}

.search-bar input {
  background-color: rgb(49, 49, 49);
  height: 100%;
}

/* Selected subreddits */
.selected-subs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin: 0 auto;
}

.subs-results-container {
  max-width:94%;
}

.other-settings {
  width: 100%;
  padding:  4px 11px;
}

/* Themes */
.theme-select-wrapper {
  width: 100%;
  padding: 4px 10px;
}

.theme-select {
  text-transform: capitalize;
  border: 1px solid transparent;
  font-weight: 200;
  margin: 4px 2px;
  padding: 2px;
  border-radius: 10px;

  cursor: pointer;

  transition: border-color 0.2s;
}
.theme-select * {
  margin: 5px;
  cursor: pointer;
}

/* Background image cards */

.background-select-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  padding: 4px;
  width: 100%;
}
.b-card {
  display: flex;
  flex-direction: column;
  overflow:hidden;
  position: relative;

  border-radius: 30px;
  border: 1px solid transparent;
  margin: 5px;

  height: 150px;
  width: 150px;

  cursor: pointer;

  transition: background-color 0.2s, border-color 0.2s;
}
.b-card:hover {
  border-color: rgb(127,127,127);
}
.b-card.active {
  border-color: rgb(127,127,127);
}
.b-card-details {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  font-weight: 100;

  color: white;

  padding: 3px 0;

  bottom: 5px;

  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.b-card-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 4px;
  color: black;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;


  transition: background-color 0.2s;
}
.b-card-icon * {
  pointer-events: none;
}
.b-card-icon:hover {
  background: white;
}



