.subs-results-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;

  position: absolute;
  z-index: 1;
  top: calc(3.7rem - 13px);
  right: 0;

  background: rgba(33, 33, 33, 0.994);
  color: white;

  overflow: hidden;
  overflow-y: auto;

  width: 400px;
  max-width: calc(100vw - 23px);
  height: 90vh;

  border: 1px solid rgba(96, 96, 96, 0.204);
  border-radius: 10px;

  transition: height 0.2s;

}

/* Search bar */
#search-bar {
  width: 85%;
  margin: 0 auto;
}

#search-bar input {
  background-color: rgb(49, 49, 49);
  height: 100%;
}

/* Selected subreddits */
#selected-subs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin: 0 auto;
}

.subs-results-container {
  max-width:94%;
}

