.subs-results-container {
  width: 100%;
  max-width: 600px;
}

#subreddits {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  overflow: hidden;
  overflow-y: auto;

  width: 400px;
  height: 90%;

  border: 1px solid rgb(96, 96, 96);
  border-radius: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.893);
  z-index: 1;



  transition: height 0.2s;
}

/* Search bar */
#search-bar {
  width: 90%;
  margin: 0 auto;
}

/* Selected subreddits */
#selected-subs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin: 0 auto;
}