.subs-results-container {
  width: 100%;
  max-width: 600px;
}

#subreddits {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  overflow: hidden;
  overflow-y: auto;

  width: 400px;
  height: 100%;

  border: 2px solid red;
  position: absolute;
  background: black;
  z-index: 1;

  transition: all 0.3s;
}

/* Search bar */
#search-bar {
  width: 90%;
  margin: 0 auto;
}

/* Selected subreddits */
#selected-subs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin: 0 auto;
}