@font-face {
    font-family: 'VAGRounded';
    src: url('VAGRounded-Light.eot');
    src: url('VAGRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('VAGRounded-Light.woff2') format('woff2'),
        url('VAGRounded-Light.woff') format('woff'),
        url('VAGRounded-Light.ttf') format('truetype'),
        url('VAGRounded-Light.svg#VAGRounded-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}