/* Persists height and width during shrink */
.sub {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background: white;
  color: black;

  margin: 2px 0;
  border-radius: 10px;
  
  height: 3rem;
  width: 100%;

  transition: height 0.2s, width 0.2s, background-color 0.3s;
  overflow: hidden;
}

/* Shrinks on click */
.sub-wrapper {
  background: white;
  color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  height: 100%;
  width: 100%;

  transition: height 0.2s, width 0.2s;
  overflow: hidden;
}

.sr-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.sub-wrapper > p {
  margin-left: 10px;
}

.sub-wrapper > button {
  height: 100%;
  width: 50px;
}

.sub:hover {
  background: rgba(255,255,255,.9);
}

.sub:hover {
  cursor: pointer;
}

.sub:hover .toggle-icon {
  opacity: 1;
  color: red;
}

.sub.add:hover .toggle-icon {
  color: green;
}

.sub.result {
  background: rgba(116, 155, 122, 0.174);
  border: 1px solid rgba(128, 128, 128, 0);;
  border-bottom: 1px solid rgba(128, 128, 128, 0.451);
  margin: 3px;
  
  max-width: 98%;

  transition: border-color 0.2s;
}
.sub.result.add {
  background: white;
  border-color: rgba(128, 128, 128, 0.185);
  border-bottom-color: rgba(128, 128, 128, 0.451);
  
}

/* Elements in.sub won't trigger parent mouseUp event */
.sub * {
  pointer-events: none;
}

/* Trash icon */
.remove-sub {
  border: none;
  background: none;
  border-radius: 10px;
}

.toggle-icon {
  font-size: 20px;
  opacity: 0.2;
  transition: opacity 0.2s, color 0.2s;
}