/* Persists height and width during shrink */
.sub {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  
  background: rgb(50, 50, 50);


  margin: 2px 0;
  border-radius: 10px;
  
  height: 3rem;
  width: 100%;

  transition: height 0.2s, width 0.2s, background-color 0.3s;
  overflow: hidden;
}

/* Shrinks on click */
.sub-wrapper {
  background: rgb(33, 33, 33);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  height: 100%;
  width: 100%;

  transition: height 0.2s, width 0.2s;
  overflow: hidden;
}

.sr-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.sub-wrapper > p {
  margin-left: 10px;
}

.sub-wrapper > button {
  height: 100%;
  width: 50px;
}

.sub:hover {
  background: rgba(58, 57, 57, 0.785);
}

.sub:hover .toggle-icon {
  opacity: 1;
  color: red;
}
.sub.add:hover .toggle-icon {
  color: green;
}

.sub.result {
  background: rgba(150, 178, 154, 0.174);

  border: 1px solid transparent;

  margin: 3px;

  max-width: 98%;

  transition: border-color 0.2s, background-color 0.2s;
}
.sub.result.add {
  background: rgb(48, 48, 48);
  border-color: rgba(128, 128, 128, 0.185);

}

/* Elements in.sub won't trigger parent mouseUp event */
.sub * {
  pointer-events: none;
}

/* Trash icon */
.remove-sub {
  border: none;
  background: none;
  border-radius: 10px;
}

.toggle-icon {
  font-size: 20px;
  opacity: 0.2;
  transition: opacity 0.2s, color 0.2s;
}

.sub-name {
  overflow: hidden;
  font-weight: 300;
}
.sub-prefix {
  color: grey;
  font-weight: 300;
  font-size: 0.9em;
}