/* Reset */
p, h1, h2, h3, h4, h5, h6, input {
  margin: 0;
}
input, button {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

input:hover {
  border-color: rgba(80, 80, 80, 0.332);
}

input:active {
  border-color: rgb(62, 62, 62);
}

* {
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

a {
  color: rgb(253, 250, 250);
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: rgba(198, 198, 198, 0.097);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(171, 168, 168, 0.517);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(80, 75, 75, 0.825);
}
 

/* For buttons with a react-icon icon as their content */
.icon-button {
  font-size: 22px;
  color:rgb(200, 200, 200);
  cursor:pointer;

  height:fit-content;
  width:fit-content;

  padding: 6px;
  border-radius: 5px;
  border: 1px solid rgba(113, 113, 113, 0.0);

  position: relative;

  transition: background-color 0.1s, border-color 0.2s;
}

.icon-button:hover {
  background: rgba(75, 75, 75, 0.154);
  border-color: rgba(113, 113, 113, 0.298);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}