.ui-modal {
  position: fixed;
  left: -5px;
  top: 3.7rem;

  width: 100%;
  height: calc(100vh - 3.7rem);

  background: rgba(0, 0, 0, 0.7);

  justify-content: center;
  align-items: center;

  z-index: 1;
}

.ui-modal-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.ui-modal-content {
  height: fit-content;
  width: fit-content;

  border-radius: 10px;
  border: 1px solid rgb(91, 91, 91);

  background: rgb(22, 22, 22);
}

.ui-modal .post {
  margin: 0;
  width: 100%;
}

.ui-modal-close.icon-button {
  width:fit-content;
  padding: 2px;
  line-height:1rem;
  border:none;
}