.ui-modal {
  position: fixed;
  left: 0;
  top: 3.5rem;

  width: 100%;

  background: rgba(0, 0, 0, 0.7);

  justify-content: center;
  align-items: center;

  z-index: 1;
}

.ui-modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: rgba(19, 19, 19, 0.942);
}

.ui-modal-content {
  width: fit-content;
  height: calc(100vh - 3.5rem);
  
  border: 1px solid rgb(91, 91, 91);
  border-top: none;
  border-bottom: none;

  background: rgb(22, 22, 22);
}

.ui-modal .post {
  margin: 0;
  width: 100%;
}

.ui-modal-close.icon-button p {
  padding: 0 4px;
}
.ui-modal-close.icon-button {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 300;

  border:none;
  border-radius: 0;
  padding: 8px 4px;
  margin-right: 8px;

  width:fit-content;

}
.ui-modal-close.icon-button svg{
  position: relative;
  font-size: 15px;
  color: rgba(161, 161, 161, 0.85);
}
.ui-modal-close.icon-button p {
  position: relative;
  bottom: 1px;
}